<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libra">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*"/>
        </intent>
    </queries>


    <application
        android:name=".LibraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.home.CafeActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity.Cafe" />
        <activity
            android:name=".activitys.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity.Login"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activitys.PhotoActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/ThemeActivity.Login"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activitys.ChatActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activitys.CrashActivity"
            android:exported="false"/>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activitys.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".services.AppGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RushHoursUpdateService"
            android:exported="false" />
        <service
            android:name=".services.GeofenceIntentService"
            android:exported="true" />
        <service
            android:name=".jobs.LogOutJob"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <receiver android:name=".notifications.GeofenceBroadcastReceiver" />

        <activity
            android:name=".activitys.TermsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.WineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".loginTimesNotifications.LoginTimeNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dor.libra.LOGIN_TIME_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>